body:-webkit-full-screen {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
.mw{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #212121;
}
/*  modules slider */
#modules_bar_slider{
  position: relative;
  overflow: hidden;
  float: right;
}
  #modules_bar{
    overflow: hidden;
    position: relative;
    margin: 0 auto;
  }
  #modules_bar_slide_left, #modules_bar_slide_right{
    display: block;
    width: 20px;
    height: 75px;
    background: url(../img/module_scrollbar.jpg) no-repeat;
    overflow: hidden;
    cursor: pointer;
    position: absolute;
    top: 0;
  }

#modules_bar_slide_right{
  background-position: 100% 0;
  right: 0;
}
#modules_bar_slide_left{
  left: 0;
}

#module_category_selector span{
  float: left;
  width: 94px;
  white-space: nowrap;
}

/* tabs */
.mw_toolbar_tab{
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.mw_tab_active{
  position: static;
}

/* tabs navigation */

#mw_toolbar_nav{
    width: 100%;
    height:49px;
    border-bottom: 1px solid #9B9B9B;
    background-color:#E7E7E7;
    background-image:-moz-linear-gradient(top, #E7E7E7 0%, #D7D7D7 100%);
    background-image:-webkit-linear-gradient(top, #E7E7E7 0%, #D7D7D7 100%);
    background-image:-ms-linear-gradient(top, #E7E7E7 0%, #D7D7D7 100%);
    background-image:linear-gradient(top, #E7E7E7 0%, #D7D7D7 100%);
    background-image:-o-linear-gradient(top, #E7E7E7 0%, #D7D7D7 100%);
    background-image:-webkit-gradient(linear, right top, right bottom, color-stop(0%,#E7E7E7), color-stop(100%,#D7D7D7));
}

#mw_tabs{
  float: left;
  list-style: none;
}

#mw_tabs li{
  float: left;
}
#mw_tabs li a{
  display: block;
  padding:16px 20px;
  text-decoration: none;
  outline: none;
}

#mw_tabs li a.active{
  box-shadow:inset 1px 1px 1px #CBCBCB;
  background:#E8E8E8;
}

#mw_toolbar_logo{
  display: block;
  float: left;
  text-indent: -9999px;
  background: url(../img/mw_live.png) no-repeat;
  width:159px;
  height: 29px;
  overflow: hidden;
}

/*  clear floats  */
.mw_clear{
  display: block;
  height: 1px;
  overflow: hidden;
  clear: both;
}

/*  Dropdown  */
.mw_dropdown{
  display: inline-block;
  position: relative;
  cursor: pointer;
  z-index: 10;
}
  .mw_dropdown_fields{
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    display: none;
    padding-top: 5px;
  }
    .mw_dropdown_fields ul{
      background: #f1f1f1;
      margin: 0;
      width: 100%;
      box-shadow:1px 1px 1px #AAAAAA;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      border-radius: 7px;
    }
      .mw_dropdown_fields li{
          list-style: none;
      }
       .mw_dropdown_fields li a{
            display: block;
            padding: 3px 5px 3px 12px;
            border: 1px solid #F1F1F1;
       }
       .mw_dropdown_fields li:first-child a{
          -webkit-border-top-left-radius: 7px;
          -webkit-border-top-right-radius: 7px;
          -moz-border-radius-topleft: 7px;
          -moz-border-radius-topright: 7px;
          border-top-left-radius: 7px;
          border-top-right-radius: 7px;
       }
       .mw_dropdown_fields li:last-child a{
          -webkit-border-bottom-right-radius: 7px;
          -webkit-border-bottom-left-radius: 7px;
          -moz-border-radius-bottomright: 7px;
          -moz-border-radius-bottomleft: 7px;
          border-bottom-right-radius: 7px;
          border-bottom-left-radius: 7px;
       }

       .mw_dropdown_fields li a:hover{
            border-color: #8CB2CA;
            background-image: -ms-linear-gradient(top, #B5D8EE 0%, #9AC0D9 100%);
            background-image: -moz-linear-gradient(top, #B5D8EE 0%, #9AC0D9 100%);
            background-image: -o-linear-gradient(top, #B5D8EE 0%, #9AC0D9 100%);
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #B5D8EE), color-stop(1, #9AC0D9));
            background-image: -webkit-linear-gradient(top, #B5D8EE 0%, #9AC0D9 100%);
            background-image: linear-gradient(to bottom, #B5D8EE 0%, #9AC0D9 100%);
       }

    .mw_dropdown_val{
      display: inline-block;
      box-shadow:inset 0px 1px 0px #B8B8B8;
      font-size: 12px;
      border: 1px solid #DCDCDC;
      border-top: none;
      background: url(../img/dropdown.png) no-repeat right top;
      padding: 8px 45px 7px 16px;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      border-radius: 7px;
    }
