@import url("toolbar_2.css");
  .helper{

    background: #ccc;

    position: absolute;

    z-index: 997;

    width: 100px;

    height: 200px;

    opacity:.7;

  }

#mw-temp {
 display: none	!important;
}
.row {
	margin-left: 0px !important;
	min-height:40x;
}
 
.ui-state-highlight2, .also-resize {
	background-color: #990099 !important;
}
.also-resize-inner {
	background-color: #990000 !important;
}
.hl1 {
	background-color: #FFFF00 !important;
}
.hl2 {
	background-color: #33CCFF !important;
}


.ui-sortable:not(.edit):hover, .col:hover {
/*outline: 1px dotted #0CF;*/
}
.columns_set {
	float:left;

}


.column {
	float:left;
    margin: 0 !important;
    padding: 0 !important;
}
.column-min-height {
	min-height:100px;
}
.col, .row, .element {
	position:relative;
}
.edit {
	position:relative;
}
.element:hover{
  outline:1px solid #358BC3;
}

.mw-sorthandle {
	width:100%;
    visibility: hidden;
	position:absolute;
	left: 0px;
	border: none;
	height:19px;
	cursor:move;
    background-repeat:  no-repeat;
    background-position: center center;
    background-image: url(../img/handle_bg.gif), linear-gradient(bottom, rgb(215,215,215) 0%, rgb(233,233,233) 55%);
    background-image: url(../img/handle_bg.gif), -o-linear-gradient(bottom, rgb(215,215,215) 0%, rgb(233,233,233) 55%);
    background-image: url(../img/handle_bg.gif), -moz-linear-gradient(bottom, rgb(215,215,215) 0%, rgb(233,233,233) 55%);
    background-image: url(../img/handle_bg.gif), -webkit-linear-gradient(bottom, rgb(215,215,215) 0%, rgb(233,233,233) 55%);
    background-image: url(../img/handle_bg.gif), -ms-linear-gradient(bottom, rgb(215,215,215) 0%, rgb(233,233,233) 55%);
    background-image: url(../img/handle_bg.gif), -webkit-gradient(
    	linear,
    	left bottom,
    	left top,
    	color-stop(0, rgb(215,215,215)),
    	color-stop(0.55, rgb(233,233,233));
    );
}
.mw-sorthandle-parent-outline{

    outline:1px solid #358BC3 ;
}




.mw-sorthandle {
    background-image: url(../img/handle_bg.gif);
    background-color: #D4E8F5;
    z-index: 9;
}
.mw-sorthandle.mw-sorthandle-row{
    background-repeat:  no-repeat;
    background-position: center center;
    background-image: url(../img/handle_bg.gif), linear-gradient(bottom, rgb(215,215,215) 0%, rgb(233,233,233) 55%);
    background-image: url(../img/handle_bg.gif), -o-linear-gradient(bottom, rgb(215,215,215) 0%, rgb(233,233,233) 55%);
    background-image: url(../img/handle_bg.gif), -moz-linear-gradient(bottom, rgb(215,215,215) 0%, rgb(233,233,233) 55%);
    background-image: url(../img/handle_bg.gif), -webkit-linear-gradient(bottom, rgb(215,215,215) 0%, rgb(233,233,233) 55%);
    background-image: url(../img/handle_bg.gif), -ms-linear-gradient(bottom, rgb(215,215,215) 0%, rgb(233,233,233) 55%);
    background-image: url(../img/handle_bg.gif), -webkit-gradient(
    	linear,
    	left bottom,
    	left top,
    	color-stop(0, rgb(215,215,215)),
    	color-stop(0.55, rgb(233,233,233));
    );
}


.mw-sorthandle span {
	width:100%;
}


 
.mw_delete_element {
	float:right;
}
.mw-sorthandle-col {
 	
	top:0px;
	cursor:move;
}
.element {
	word-wrap: break-word;
}
.eleme1nt:hover {
	outline: 2px solid #e8e8e8;
}
.mw-sorthandle-row {
 	top:-14px;

	 
	cursor:move;
}

.ui-resizable-helper {
	border: 2px dotted #00F;
}

        
.modules-list {
	list-style-position: inside;
	list-style-image: none;
	list-style-type: none;
	width:90%;
	overflow:hidden;
	height: 75px;
}
.modules-list img {
	border: 0 none;
	height: 32px;
	vertical-align: middle;
}
.modules-list li {
	float:left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	text-decoration: none;
	margin-right: 5px;
	margin-left: 5px;
    text-align: center;
    line-height: normal;
    cursor: move;
    padding: 6px 12px;
    margin-top: 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.module-item:hover{
    background: #FFFFFF;
    box-shadow:1px 1px 2px #ADADAD inset;
}

.module-item span{
  font-size: 11px;
  text-align:center;
  display: block;
  clear: both;
  padding-top: 4px;
}
#mw_css_editor  {
	padding:0px !important;
}

#mw_html_css_editor {
 width:90% !important;
 padding:0px !important;
}
/* Vertical Tabs
----------------------------------*/



#mw_css_editor .ui-tabs-vertical {
	width: 55em;
}
#mw_css_editor .ui-tabs-vertical .ui-tabs-nav {
	padding: .2em .1em .2em .2em;
	float: left;
	width: 12em;
}
#mw_css_editor .ui-tabs-vertical .ui-tabs-nav li {
	clear: left;
	width: 100%;
	border-bottom-width: 1px !important;
	border-right-width: 0 !important;
	margin: 0 -1px .2em 0;
}
#mw_css_editor .ui-tabs-vertical .ui-tabs-nav li a {
	display:block;
}
#mw_css_editor .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-selected {
	padding-bottom: 0;
	padding-right: .1em;
	border-right-width: 1px;
	border-right-width: 1px;
}
#mw_css_editor .ui-tabs-vertical .ui-tabs-panel {
	padding: 1em;
	float: right;
	width: 75%;
}
#mw_css_editor .css_editor_tab_float {
	 
	float: left;
	 
}



#mw_css_editor .ui-tabs .ui-tabs-nav li a {
	
padding:0px !important;	
}

.mw-styles-list ul {
	width:100% !important;	
	list-style:none !important;	
	list-style-type:none !important;	
}

.mw-styles-list ul li{
	width:48px !important;	
	float:left !important;	
	list-style:none !important;	
	list-style-type:none !important;	
}

.style-item {
 	float:left !important;	
	margin-left:10px;
	list-style:none !important;	
	list-style-type:none !important;	
}

.box_content {
 overflow-y: scroll;
}


/*  modules slider */
.modules_bar_slider{
  position: relative;
  overflow: hidden;
  float: right;
  height: 75px;
  margin-top: -8px;
}
  .modules_bar{
    overflow: hidden;
    position: relative;
    margin: 0 auto;
  }
  .modules_bar_slide_left, .modules_bar_slide_right{
    display: block;
    width: 20px;
    height: 75px;
    background: url(../img/module_scrollbar.jpg) no-repeat;
    overflow: hidden;
    cursor: pointer;
    position: absolute;
    top: 0;
  }
  .modules_bar_slide_left.active, .modules_bar_slide_right.active{
    box-shadow:inset 0px 0px 4px #484848;
  }
.modules_bar_slide_right{
  background-position: 100% 0;
  right: 0;
}
.modules_bar_slide_left{
  left: 0;
}

#module_category_selector, #module_layout_selector{
  clear: both;
  margin:16px 20px;
}

#module_category_selector span, #module_layout_selector span{
  float: left;
  width: 94px;
  white-space: nowrap;
}

/* tabs */
.mw_toolbar_tab{
  position: absolute;
  top: -9999px;
  left: -9999px;
  background:#E9E9E9;
  height: 75px;
  border-bottom: 1px solid #DADADA;
}
.mw_tab_active{
  position: static;
}

/* tabs navigation */

#mw_toolbar_nav{
    width: 100%;
    height:49px;
    position: relative;
    z-index: 2;
    box-shadow:1px 0 4px #797979;
    background-color:#E7E7E7;
    background-image:-moz-linear-gradient(top, #E7E7E7 0%, #D7D7D7 100%);
    background-image:-webkit-linear-gradient(top, #E7E7E7 0%, #D7D7D7 100%);
    background-image:-ms-linear-gradient(top, #E7E7E7 0%, #D7D7D7 100%);
    background-image:linear-gradient(top, #E7E7E7 0%, #D7D7D7 100%);
    background-image:-o-linear-gradient(top, #E7E7E7 0%, #D7D7D7 100%);
    background-image:-webkit-gradient(linear, right top, right bottom, color-stop(0%,#E7E7E7), color-stop(100%,#D7D7D7));
}




#mw_tabs{
  float: left;
  list-style: none;
}

#mw_tabs li{
  float: left;
}
#mw_tabs li a{
  display: block;
  padding:16px 20px 17px;
  text-decoration: none;
  outline: none;
}

#mw_tabs li a.active{
  box-shadow:0 1px 4px #909090 inset;
  background:#E8E8E8;
}

#mw_toolbar_logo{
  display: block;
  float: left;
  text-indent: -9999px;
  background: url(../img/mw_live.png) no-repeat;
  width:159px;
  height: 29px;
  overflow: hidden;
  margin: 14px 20px;
}




.columns_set{
  padding: 9px;
  display: none;
  display: inline-block;
  top: -30px;
  left: 0;
  position: absolute;
  background: #4B4B4B;
  border: 1px solid #393939;
  font-size: 11px;
  color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.mw-sorthandle-row:hover .columns_set{
  display: block;
}

.columns_set a{
  color: white;
  background: none
  text-decoration: none;
  display: inline-block;
  padding: 3px 5px;
  line-height: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.columns_set a:hover, .columns_set a.active{
  text-decoration: none;
  box-shadow:0 1px 2px #3F3F3F;
background-image: linear-gradient(bottom, rgb(33,118,215) 10%, rgb(43,149,224) 55%);
background-image: -o-linear-gradient(bottom, rgb(33,118,215) 10%, rgb(43,149,224) 55%);
background-image: -moz-linear-gradient(bottom, rgb(33,118,215) 10%, rgb(43,149,224) 55%);
background-image: -webkit-linear-gradient(bottom, rgb(33,118,215) 10%, rgb(43,149,224) 55%);
background-image: -ms-linear-gradient(bottom, rgb(33,118,215) 10%, rgb(43,149,224) 55%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.1, rgb(33,118,215)),
	color-stop(0.55, rgb(43,149,224))
);
}


#mw-text-editor .buttons{
  width: 100%;
  height:35px;
  overflow: hidden;
  background: #F5F5F5;
  border-top: 1px solid white;
  border-bottom: 1px solid #E5E5E5;
  z-index: 996;
  box-shadow:0 1px 0 #F3F3F3;

}


#mw_history_files {

 display: none;


}


.image_resizer{
  display: inline-block !important;
}

.image_resizer .ui-resizable-e, .image_resizer .ui-resizable-s{
  display: none !important;
}

.image_resizer .ui-resizable-se{
    display: block !important;
    background: url("jquery-ui-smoothness/images/ui-icons_454545_256x240.png") no-repeat -64px -224px;
    height: 16px;
    width: 16px;
}

.mw_dropable{
    position: relative;
    width: 100%;
    text-align: center;
    color: #D0D0D0;
    font-size: 25px;

    height: 10px;
    background: rgba(183,231,247,0.6);
    background: rgb(183,231,247);

}
.mw_dropable:hover{
    border-color:#B4B4B4;
}

.drop_top{
  top: 7px;
}
.drop_bottom{
  top:-7px;
}
.mw_drag_started, li.module-item.ui-draggable-dragging{
  padding:20px;
  background:white;
  list-style: none;
  box-shadow:0 0 8px #000;
}

.mw-element-hover .mw-sorthandle{
    visibility: visible;
}

.mw-element-name-handle{
    display: inline-block;
    white-space: nowrap;
    font-size: 11px;
    padding: 0 10px;
    text-transform: capitalize;
    float: left;
}

div.mw_col_delete{
  float: left;
  white-space: nowrap;
}

.mw_module_helper{
  position: absolute;
  top: 0;
  left: 0;
  background: red;
  width: 200px;
  height: 200px;
}


