.hl {
background-color:#C90;	
}

.hl2 {
background-color:#00F;	
}


.sortable-placeholder, .ui-sortable-placeholder, .ui-state-highlight, .sortable-dragging {
	padding-top:5px;
	padding-bottom:5px;
	margin-top:10px;
	margin-bottom:10px;
	background-image: url(images/drop.png);
	background-color:#FFFFB9 !important;
	background-repeat: no-repeat;
	background-position: center center;
	outline: 1px dashed #a5b3ac;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	color: #000;
	text-decoration: none;
	font-style: normal;
	line-height: 11px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	height:  55px;
	min-height:  50px;
	width:100%;	
	opacity:0.9;
	 
	/*padding-right: 3%;
	padding-left: 3%;    */     
}
.empty-column {
	width:95%;
	height:30px;
	margin-bottom:30px;
	madasdasdrgin-bottom:-40px;
	padding-bottom:-20px;
	margin-top:30px;
	height: 150px;
}
.empaaaty-element {
	font-size:11px;
	background-color:#FFFF93 !important;
	line-height: 28px;
	color:#DEE0B6;
	margin-top:10px;
	margin-bottom:30px;
	text-transform: none;
	text-decoration: none;
	height: 80px;
	opacity:0.7;
 
}

.empty-element-edit-area {
	 
	visibility:hidden;
	 
}


.empty-element-edit-area:hover {
	 
	visibility:visible;
	 
}

.empty-element:hover {
	opacity:0.3;
	visibility:visible;
	 
}


.empty-columasdn {
	width:95%;
	height:20px;
	margin:1%;
	margin:5px;
	padding-bottom:-20px;
	margin-top:-55px;
	padding-top:65px;
	margin-bottom:60px;
}
.empty-column-big {
	height:150px;
	margin-top:10px;
	margin-bottom:45px;
}
.empty-column:hover {
}
.empty-column span {
	color: #AAAAAA;
	font-size: 20px;
	text-align: center;
}
.empty {
	width:100%;
	line-height:20px !important;
	margin-top:20px;
	margin-bottom:20px;
	background-image: none;
	background-color:#CCCCCC !important;
	clear: both !important;
	display:block !important;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-decoration: none;
}




.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute;font-size: 0.1px; display: block; }
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0; }
.ui-resizable-e {
	cursor: e-resize;
	width: 9px;
	right: -5px;
	top: 0;
	height: 100%;
	background-color:#E1E1E1;
	background-image:url(images/r-handle.png);
	background-repeat: repeat-y;
	background-position: center;
}
.ui-resizable-e1 { cursor: e-resize; width: 7px; right: -5px; top: 0; height: 100%; background-color:#F00 }

.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}/*!
 * jQuery UI Selectable 1.8.20
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Selectable#theming
 */
.ui-selectable-helper { position: absolute; z-index: 100; border:1px dotted black; }