@import url("toolbar_2.css");

#mw-temp {
 display: none	!important;
}
.row {
	margin-left: 0px !important;
	min-height:40x;
}
.1row:hover {
	outline: 2px solid #d0d0d0;
}
.ui-state-highlight2, .also-resize {
	background-color: #990099 !important;
}
.also-resize-inner {
	background-color: #990000 !important;
}
.hl1 {
	background-color: #FFFF00 !important;
}
.hl2 {
	background-color: #33CCFF !important;
}

.mw-outline-column {
	outline-style:solid;
	outline-width:1px;
	outline-color: #d0d0d0;
	outline-offset: 0px;
}
.mw-outline {
	outline-style:solid;
	outline-width:1px;
	outline-color: #0F0;
	outline-offset: 2px;
}
 
.ui-sortable:not(.edit):hover, .col:hover {
/*outline: 1px dotted #0CF;*/
}
.columns_set {
	float:left;
 
}
a.mw-make-cols {
	font-size:10px;
	color:#8C8C8C;
	background-color:#FFF;
	padding-left:1px;
	padding-right:1px;
	text-decoration:none;
}
a.mw-make-cols.active {
	background-color:#FFF;
	color:#FFF;
}
.column {
	float:left;
}
.column-min-height {
	min-height:100px;
}
.col, .row, .element {
	position:relative;
}
.edit {
	position:relative;
}
.mw-sorthandle {
	width:100%;
	position:absolute;
	left: 0px;
	background-repeat: repeat-x;
	background-color:#CCCCCC;
	background-image: url(images/col-handle.png);
	background-repeat: repeat-x;
	background-position:center center;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 0px solid #CCCCCC;
	padding:1px;
	padding-left:2px;
	padding-right:2px;
	height:12px;
	cursor:move;
	font-family: Verdana, Geneva, sans-serif !important;
	font-size: 9px !important;
	font-style: normal;
	line-height: 11px !important;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #666;
	text-decoration: none;
	 
}
.mw-sorthandle:hover {
opacity: 1;
   -webkit-transition: opacity 1s linear;	
  
}
.mw-sorthandle span {
	width:100%;
}


 
.mw_delete_element {
	float:right;
}
.mw-sorthandle-col {
 	
	top:0px;
	z-index:1000;
	display:none;
	cursor:move;
}
.element {
	word-wrap: break-word;
}
.eleme1nt:hover {
	outline: 2px solid #e8e8e8;
}
.mw-sorthandle-row {
 	top:-14px;
	z-index:900;
	display:none;
	cursor:move;
}
.row .column .mw-sorthandle-row {
	z-index:999;
}
.row .column .row .column .mw-sorthandle-row {
	z-index:1000;
}
.ui-resizable-helper {
	border: 2px dotted #00F;
}

        
.modules-list {
	list-style-position: inside;
	list-style-image: none;
	list-style-type: none;
	width:90%;
	overflow:hidden;
	height: 75px;
}
.modules-list img {
	border: 0 none;
	height: 32px;
	vertical-align: middle;
}
.modules-list li {
	float:left;
	display:inline;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	text-decoration: none;
	margin-right: 5px;
	margin-left: 5px;
}
.modules-list span {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	text-align:center;
}
#mw_css_editor  {
	padding:0px !important;
}

#mw_html_css_editor {
 width:90% !important;
 padding:0px !important;
}
/* Vertical Tabs
----------------------------------*/



#mw_css_editor .ui-tabs-vertical {
	width: 55em;
}
#mw_css_editor .ui-tabs-vertical .ui-tabs-nav {
	padding: .2em .1em .2em .2em;
	float: left;
	width: 12em;
}
#mw_css_editor .ui-tabs-vertical .ui-tabs-nav li {
	clear: left;
	width: 100%;
	border-bottom-width: 1px !important;
	border-right-width: 0 !important;
	margin: 0 -1px .2em 0;
}
#mw_css_editor .ui-tabs-vertical .ui-tabs-nav li a {
	display:block;
}
#mw_css_editor .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-selected {
	padding-bottom: 0;
	padding-right: .1em;
	border-right-width: 1px;
	border-right-width: 1px;
}
#mw_css_editor .ui-tabs-vertical .ui-tabs-panel {
	padding: 1em;
	float: right;
	width: 75%;
}
#mw_css_editor .css_editor_tab_float {
	 
	float: left;
	 
}



#mw_css_editor .ui-tabs .ui-tabs-nav li a {
	
padding:0px !important;	
}

.mw-styles-list ul {
	width:100% !important;	
	list-style:none !important;	
	list-style-type:none !important;	
}

.mw-styles-list ul li{
	width:48px !important;	
	float:left !important;	
	list-style:none !important;	
	list-style-type:none !important;	
}

.style-item {
 	float:left !important;	
	margin-left:10px;
	list-style:none !important;	
	list-style-type:none !important;	
}

.box_content {
 overflow-y: scroll;
}